.link {
  text-decoration: none;
  display: inline-block;
  margin-top: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-text-main);
}

.section {
  padding-bottom: 120px;
}

.container {
  padding-left: 135px;
  padding-right: 135px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav {
  margin-left: 330px;
  padding: 40px 0;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.nav-list__link {
  color: #333;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  padding: 4px 0;
}
.nav-list__link:hover, .nav-list__link:focus {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-title {
  margin-top: 336px;
  margin-right: 122px;
  color: #BDBDBD;
  font-size: 64px;
  font-weight: 300;
  line-height: 1;
}

.main-title--black {
  color: #333;
  font-weight: 700;
}

.btn-arrow {
  margin-top: 90px;
  width: 53px;
  height: 53px;
  border: 1px solid #F2F2F2;
  background: #FFF;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-arrow:hover, .btn-arrow:focus {
  color: blue;
  border-color: blue;
}

.btn-arrow--right {
  margin-left: 23px;
  background: #F9F9F9;
}

.btn-arrow__icon {
  fill: currentColor;
}

.btn-arrow__icon--rotate {
  rotate: 180deg;
}

.hero-text-containet {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-text {
  color: #BDBDBD;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
}

.hero-line {
  width: 43px;
  height: 2px;
  background-color: #E0E0E0;
  rotate: -45deg;
  margin-left: 26px;
  margin-right: 32px;
}

.hero-img-container {
  position: relative;
}

.main-btn--hero {
  position: absolute;
  bottom: 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 69px;
  height: 42px;
}

.logo-icon {
  fill: currentColor;
}

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 222px;
  height: 71px;
  background-color: #FFF;
  border: none;
  color: #333;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-btn:hover, .main-btn:focus {
  background-color: rgb(207, 207, 248);
  color: white;
}

.main-btn__icon {
  fill: currentColor;
  margin-left: 12px;
}

.about-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 30px 70px 0 100px;
  background-color: #FBFBFB;
}

.about-company__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  max-width: 570px;
}

.about-company__container-text {
  max-width: 400px;
}

.about-compan__title {
  color: #BDBDBD;
  font-size: 64px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 20px;
}

.about-compan__text {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.56;
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */