.main-btn{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 222px;
    height: 71px;
    background-color: #FFF;
    border: none;

    color: #333;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 2.4px;
    text-transform: uppercase;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        background-color:#333;
        color: #FFF;
    }

}

.main-btn__icon{
    fill: currentColor;
    margin-left: 12px;
}

.main-btn--black{
    background:  #333;
    color: #FFF;

    &:hover,
    &:focus {
        background-color: #FFF;
        color: #333;
    }
}

.main-btn--margin {
   margin-left: auto;
}