.container-form{
    display: flex;
    margin-top: 22px;
    gap: 30px;
}

.form{
    
    max-width: 391px;
}

.form__group{
    margin-bottom: 10px;
}

.form__input{
    padding: 14px 21px;

    width: 349px;
   
    background: #F3F3F3;
    border: none;

    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.56px;


    &::placeholder{
        color: #8D8D8D;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.56px;
    }
}

.form__textarea{
    padding: 14px 21px;
    width: 349px;
    background: #F3F3F3;
    border: none;
}

.form__accept{
    margin-bottom: 21px;
}

.bgimg{
    width: 749px;
    height: 369px;
    background-color: #F3F3F3;
    background-image: url(../../images/bg-image-form.png);
    background-size: cover;
}
